@import '../variables';

.alertBox {
  min-width: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border: 3px solid $slate;
  border-radius: 10px;
  padding: 23px 31px;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  > .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > .btnRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.alertBoxWrapper {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}
