@import "../variables";

.wrapper {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.timer {
  background-color: $slate;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  gap: 20px;
  font-weight: lighter;
}
