$primary: #00A573;
$secondary: #2589FF;
$neutral: #EFEFEF;
$slate: #363D44;
$white: #FFFFFF;
$danger: #D75675;
$danger-light: #F6D2DA;
$primary-light: #B2ECDB;
$gray: rgba(96, 96, 96, 0.5);

$font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
